@charset "UTF-8";
/* Luciole */
@font-face {
  font-family: 'luciole';
  src: url('/theme/fonts/luciole.woff') format('woff'),
       url('/theme/fonts/luciole.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'luciole-bold';
  src: url('/theme/fonts/luciole-bold.woff') format('woff'),
       url('/theme/fonts/luciole-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

/* Couleurs du theme */
:root {
 	--main-bg: white;
	--text: black;
	--link: #044f94;
	--link-hover: black;
	--a-hover: #a4d8ff;
	--h1-bg: #ffffffcf;
	--bg-image: url("/theme/fonds/wall-light.jpg");
	--bg-code: #e8e8e8;
    --txt-code: black;
    --code-number: #353535;
    --code-nv: #3331B7;
    --code-nl: #595900;
    --code-k: #007100;
}
/* Réglages du corps de page */
body {
	margin: 0;
	padding: 0;
	background-color: var(--main-bg);
    color: var(--text);
    text-align: left;
    font-family: "luciole", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
h1, h2, h3, h4, strong {
    font-family: "luciole-bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* Réglages des liens dans les pages */
a:link, a:visited {
	text-decoration-style: dotted;
	color: var(--link);
}
a:hover {
	color: var(--link-hover);
	background-color: var(--a-hover);
}
div a:hover, footer a:hover {
	padding: 5px;
}
a:focus {
	outline: 3px solid var(--link);
	outline-offset: 4px;
}
/* Réglages pour la mise en forme du corps de l'article */
.post {
	margin: 3% 20%;
}
.infos {
	font-size: small;
}
.toc {
    background: var(--bg-code);
    padding: 10px;
    border: 2px solid;
}
/* Réglages pour la mise en forme du système de pagination */
/* Boîte principale */
.pagination {
	text-align: center;
	padding: 15px;
}
/* Boutons "Billets plus récents" & "Billets plus anciens" */
.precedent, .suivant {
	margin: 10px;
	padding: 5px;
	border: 2px solid var(--link);
}
.precedent:hover, .suivant:hover {
	border: 2px solid var(--link-hover);
}
/* Classe dédiée pour le centrage de texte */
.center {
	text-align: center;
}
/* Réglages pour les blocs de citation et les blocs de code */
blockquote {
	text-align: center;
	font-style: italic;
	padding: 1%;
}
.highlight, p code, li code {
	padding: 5px 15px;
	border-radius: 10px;
	background: var(--bg-code);
	color: var(--txt-code);
}
pre {
	white-space: pre-wrap;
	line-height: 125%;
}
/* Coloration dans les blocs de code */
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #3D7B7B; font-style: italic } /* Comment */
.highlight .k { color: var(--code-k); font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #9C6500 } /* Comment.Preproc */
.highlight .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.highlight .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #E40000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #008400 } /* Generic.Inserted */
.highlight .go { color: #717171 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #687822 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #717171; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: var(--code-nl) } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: var(--code-nv) } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: var(--code-number) } /* Literal.Number.Bin */
.highlight .mf { color: var(--code-number) } /* Literal.Number.Float */
.highlight .mh { color: var(--code-number) } /* Literal.Number.Hex */
.highlight .mi { color: var(--code-number) } /* Literal.Number.Integer */
.highlight .mo { color: var(--code-number) } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #A45A77 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
/* Réglages pour les images */
img {
	margin: 2% auto;
	display: block;
}
table {
	margin: auto;
}
/* Réglages pour le menu de navigation */
nav {
	padding: 20px 0;
	border-bottom: 3px solid var(--link);
	text-align: right;
}
nav a {
	padding: 15px;
}
#title {
	float: left;
}
/* Réglages pour le pied de page */
footer {
	border-top: 3px solid var(--link);
}

/* Réglages permettant d'améliorer l'expérience sur téléphones et tablettes */
@media (max-width: 1050px) {
	nav {
		padding: 0;
	}
	nav a {
		display: block;
		text-align: center;
	}
	#title {
		float: none;
	}
	.precedent, .suivant {
		display: block;
		margin: 2%;
		padding: 2%;
	}
}
/* Réglages concernant la taille du fond d'écran de la bannière pour les smartphones et l'agencement des articles et des boutons */
@media (max-width: 500px) {
	header {
		background-size: 300%;
	}
	.precedent, .suivant {
		margin: 5%;
		padding: 5%;
	}
	.post {
		margin: 3% 10%;
	}
	/* Adaptation des modules vidéo et autre plugins sur des écrans de petite taille */
	iframe {
		width: 250px;
	}
}
/* Réglages permettant d'améliorer l'expérience sur les grands écrans */
@media (min-width: 1200px) {
  body {
    font-size: larger;
  }
  .infos {
	font-size: medium;
  }
}

/* Mode sombre activable via les préférences du navigateur */
@media (prefers-color-scheme: dark) {
  /* Couleurs du theme */
  :root {
    --main-bg: #111417;
    --text: #a4d8ff;
    --link: #149aff;
    --link-hover: #fff;
    --a-hover: #004a82;
    --h1-bg: #111417cf;
    --bg-image: url("/theme/fonds/wall-dark.jpg");
    --bg-code: #1e1e1e;
    --txt-code: #f1f3f9;
    --code-number: #cacaca;
    --code-nv: #3331B7;
    --code-nl: #595900;
    --code-k: #00ac00;
   }
}
