{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block head %}
{{ super() }}
<style>
    header {background-image: url("{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonds/wall2.jpg");}
</style>
{% endblock %}

{% block header %}
<h1>Archives chronologiques du blog</h1>
<p>Une liste de tous les articles publiés depuis son existence</p>
{% endblock %}

{% block content %}
<div class="post">
<dl>
{% for article in dates %}
    <dt><strong>{{ article.date|strftime('%d/%m/%Y') }}</strong></dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
</div>
{% endblock %}
