<hr>
<div>
	<h3>Un commentaire à ajouter ?</h3>
	<p><strong>Pour ajouter votre commentaire, <a title="Lien pour envoyer un commentaire" href="mailto:youraddress@mail.address?subject=Commentaire pour {{ article.slug }}">envoyez directement un mail ici</a></strong><p>
</div>
