{% extends "base.html" %}

{% block title %}Accueil - {{ SITENAME }}{% endblock %}

{% block header %}
{{ super() }}
<h1>{{ SITENAME }}</h1>
<p>{{ MOTTO }}</p>
{% endblock %}

{% block content %}
<div class="post">
    <h2 class="page-heading">Liste des publications</h2>
    {% for article in articles_page.object_list %}
        <h3><a title="Lien vers {{ article.title }}" class="post-link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        <p>Publié le {{ article.date|strftime('%d/%m/%Y') }} par {{ article.author }}</p>
        <p>Catégorie : {% if article.category %}<a title="Lien vers les publications marquée par la catégorie {{ article.category }}" href="{{ SITEURL }}/{{ article.category.url }}">#{{ article.category }} </a>{% endif %}</p>
        <p>{{ article.summary }}</p>
    {% endfor %}
    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
</div>
{% endblock %}
