{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{% block head %}
{{ super() }}
<style>
    header {background-image: url("{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonds/wall1.jpg");}
</style>
{% endblock %}

{% block header %}
{{ super() }}
<h1>{{ page.title }}</h1>
{% endblock %}

{% block content %}
<div class="post">
    {{ page.content }}
</div>
{% endblock %}
